@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: #111;
    font-family: 'Poppins';
}

.container {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: lightblue;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #fff;
}

.heading {
    text-align: center;
}

.heading p {
    font-size: 16px;
}

#amount-one, #amount-two {
    float: right;
    border: none;
    font-size: 20px;
    width: 20%;
    background-color: lightblue;
    margin-right: 20px;
    margin-top: 5px;
}

.rate {
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

.swap {
    margin-left: 50px;
}

.swap button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.currency-one, .currency-two {
    font-size: 20px;
    margin-left: 50px;
}